.home-view {
    height: 100vh;
    width: 100vw;
    background-color: rgb(25, 37, 37);

    .navbar {
        height: 5rem;
        width: 100%;
        background-color: azure;
    }
}



.titulo-home {
    color: hsl(0, 100%, 50%);
}

.doble {
    font-size: 4rem;
}
