.contener {
    width: 5rem;
    height: 5rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube {
    transform-style: preserve-3d;
    animation: rotate 3s linear infinite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube div img {
    width: 100%;
    height: 100%;
}
.pka {
    width: 50px;
    animation: rotate-img 3s linear infinite;
}
.cube div {
    width: 15px;
    height: 15px;
    position: absolute;
    animation: gl 2s infinite;
    border-radius: 20px;
}
.one {
    background: #4285f4;
    transform: rotatey(0deg) translatez(50px);
}
.two {
    background: #ea4335;
    transform: rotatey(90deg) translatez(-50px);
}
.three {
    background: #fbbc04;
    transform: rotatey(-90deg) translatez(-50px);
}
.four {
    background: #34a853;
    transform: translatez(-50px);
}

@keyframes rotate-img {
    from {
        transform: rotatey(-0deg);
    }
    to {
        transform: rotatey(-360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotatey(0deg);
    }
    to {
        transform: rotatey(360deg);
    }
}

@keyframes gl {
    0% {
        box-shadow: 0 0 0px rgb(110, 110, 110), 0 0 0px rgb(110, 110, 110);
    }
    50% {
        box-shadow: 0 0 10px rgb(110, 110, 110), 0 0 40px rgb(110, 110, 110);
    }
    100% {
        box-shadow: 0 0 0px red, 0 0 0px red;
    }
}
